.contain {
  display: grid;
  justify-items: center;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/tkt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
  }
  .shaper {
    margin-top: 2%;
    width: 80vw;
    display: grid;
    justify-items: center;
  }
  .full-width {
    width: 100%;
  }

  .header {
    font-weight: 700;
    font-size: 2rem;
    justify-self: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
  .details {

    justify-self: start;
    text-align: right;
    h4 {
      display: inline-block;
      margin: 1rem;
      font-weight: 700;
      color: rgb(11, 88, 119);
    }
    p {
      margin-right: 1rem;
      display: inline-block;
    }
  }
