<div class="contain">
  <div class="bg"></div>
  <div class="shaper"
       [@divState]>

    <div class="header"> آنستك النعمة</div>

    <div class="mass-details">

      <div class="details">
        <h4>التاريخ :</h4>
        <p> 18-02-2020 </p>
        <br>
        <h4>الوقت :</h4>
        <p> 6:00 AM </p>
        <br>
        <h4>الأباء الكهنة :</h4>
        <p> أبونا يوسف </p>
        <p> أبونا بنيامين </p>
        <br>

        <h4>المتوقع حضورهم :</h4>
        <p> بولا مجدي </p>
        <p> مينا مجدي </p>
        <br>

          <h4>رقم الحجز :</h4>
          <h1 style="display: inline-block; color: red"> 345 </h1>
          <br>
          <mat-error color=warn> يرجى اظهار هذا الرقم عند طلبه</mat-error>
      </div>


    </div>
  </div>
</div>
