:root {
  --yellow: #ffde03;
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $mass-front-primary: mat-palette($mat-indigo);
// $mass-front-accent: mat-palette($mat-pink, A200, A100, A400);

$mass-front-primary: mat-palette($mat-teal, 900 ,A700);
$mass-front-accent: mat-palette($mat-teal, 300);

// The warn palette is optional (defaults to red).
$mass-front-warn: mat-palette($mat-red,A400);
$mass-front-yellow: mat-palette($mat-yellow,A400);

// Create the theme object (a Sass map containing all of the palettes).
$mass-front-theme: mat-light-theme($mass-front-primary, $mass-front-accent, $mass-front-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mass-front-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'jf_flatregular';
    src: url('./assets/webfontkit-20200520-182427/jf_flat_regular-webfont.woff2') format('woff2'),
         url('./assets/webfontkit-20200520-182427/jf_flat_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jf_flatlight';
    src: url('./assets/webfontkit-20200520-182427/jf-flat-light-webfont.woff2') format('woff2'),
         url('./assets/webfontkit-20200520-182427/jf-flat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jf_flatmedium';
    src: url('./assets/webfontkit-20200520-182427/jf-flat-medium-webfont.woff2') format('woff2'),
         url('./assets/webfontkit-20200520-182427/jf-flat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$custom-typography: mat-typography-config(
  $font-family: 'Almarai',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 22px, 400),
  $body-2: mat-typography-level(18px, 24px, 400)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);


@include mat-core($custom-typography);


html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0;font-family: 'Almarai', sans-serif ;
font-weight:normal;
font-style:normal;
}
body::after{
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - 0px);
  // height: calc(150vh - 0px);
  min-height: 100%;
  z-index: -5;
  opacity: 0.1;
  background-image: url(./assets/bg.jpg);
  background-repeat: space;
  background-size: cover;
  overflow: hidden;

}
* {
    // unicode-bidi: bidi-override;
    direction: rtl;
    // text-align: right;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
